<%- include('./partials/html-head') %>
<link id="favicon" rel="icon" href="/favicon/favicon (1).ico" type="image">
<link rel="stylesheet" href="/stylesheets/home.css">
<%- include('./partials/nav') %>
  <main>
    <section>
      <% if (user?.profile.avatar) { %>
        <h1><strong>Welcome Back</strong><%= user.profile.name %></h1>
      <% }else { %>
        <h2><Strong>Please login with Google or feel free to check out some cool Anime and Cartoons</Strong></h2>
      <% } %>
    </section>
  </main>
<%- include('./partials/footer') %>