main {
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  column-gap: 25px;
  row-gap: 5px;

}


@media (prefers-color-scheme: dark) {
    body{
    color: black;
    background: lightgrey;
  }

}
@media (prefers-color-scheme: light) {
  body{
  color: black;
  background: lightblue;
}

}