main {
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  column-gap: 25px;
  row-gap: 5px;

}

@media only screen and (max-width: 400px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    column-gap: 3px;
    row-gap: 5px;
    padding-left: 1%;

  }
}

@media only screen and (min-width: 400px)and (max-width:600px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    column-gap: 1px;
    row-gap: 1px;

  }
}

@media only screen and (min-width: 600px)and (max-width:1000px) {
  main {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    column-gap: 10px;
    row-gap: 1px;

  }
}

@media (prefers-color-scheme: dark) {
  main {
    background: darkgrey;
    color: black
  }

}

@media (prefers-color-scheme: light) {
  main {
    background: lightblue;
    color: black;
  }

}

@media (prefers-color-scheme: dark) {
  html {
    background: darkgrey;
    color: black
  }

}

@media (prefers-color-scheme: light) {
  html {
    background: lightblue;
    color: black;
  }

}