main form {
  font-size: 20px;
  font-weight: 700;
}


@media (prefers-color-scheme: dark) {
  main {
    background: darkgrey;
    color: black
  }

}

@media (prefers-color-scheme: light) {
  main {
    background: lightgrey;
    color: black
  }

}

@media (prefers-color-scheme: dark) {
  html {
    background: darkgrey;
    color: black
  }

}

@media (prefers-color-scheme: light) {
  html {
    background: lightgrey;
    color: black
  }

}