/* main section{
  display: flex;
  /* justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column; */


/* } */
/* @media only screen and (min-width: 600px)and (max-width:1000px) {
  main {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    column-gap: 10px;
    row-gap: 1px;

  }
} */
/* html{
  background-image: url("../images/4357971.webp");
  background-image: cover;
}
main{
  background-image: url("../images/4357971.webp");
  background-image: cover; */
/* } */
@media (prefers-color-scheme: dark) {
  main {
    background: darkgrey;
    color: black
  }


}

@media (prefers-color-scheme: light) {
  main {
    background: lightblue;
    color: black;

  }

}

@media (prefers-color-scheme: dark) {
  html {
    background: darkgrey;
    color: black
  }

}

@media (prefers-color-scheme: light) {
  html {
    background: lightblue;
    color: black;

  }

}
