body {
  background-color: blue;
}

main .description {
  border: 5px solid black;
  border-radius: 5px;
}
#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  margin-bottom: 20px;
}

#add-review-form > textarea {
  width: 250px;
}

#add-review-form > button {
  font-size: 16px;
  width: 160px;
  grid-column: 2 / 3;
  margin-bottom: 24px;
}
@media (prefers-color-scheme: dark) {
  main {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }

}

@media (prefers-color-scheme: light) {
  main{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }

}
@media (prefers-color-scheme: dark) {
  html {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }

}

@media (prefers-color-scheme: light) {
  html{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }

}

@media only screen and (max-width: 400px) {
  main {
    margin-left: 10%;
  }

  main p {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: small;
  }

  main .p2 {
    display: flex;
    justify-content: baseline;
    font-size: small;
  }

  main form {
    display: flex;

    font-size: small;
  }

  #add-review-form>button {
    font-size: 16px;
    width: 160px;
    grid-column: 2 / 3;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 400px)and (max-width:600px) {
  main .p2 {
    display: flex;
    justify-content: baseline;
    font-size: small;
  }

  #add-review-form>button {
    font-size: 16px;
    width: 160px;
    grid-column: 2 / 3;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 600px)and (max-width:1000px) {
  main {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    column-gap: 10px;
    row-gap: 5px;

  }

  #add-review-form>button {
    font-size: 16px;
    width: 160px;
    grid-column: 2 / 3;
    margin-bottom: 24px;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color: black;
    background: lightgrey;
  }

}

@media (prefers-color-scheme: light) {
  html {
    color: black;
    background: lightblue;
  }
}