<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% animes.forEach(anime => { %>
    <h3><%= anime.name %></h3>
  <% }) %>
</main>

<%- include('../partials/footer') %>