<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Search Results</h1>
  <% if (search) { %>
    <h2>You searched for <%= search %></h2>
  <% } %>
  <h4></h4>
</main>

<%- include('../partials/footer') %>